<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OrderMapper">

    <resultMap type="Order" id="OrderResult">
        <id     property="id"              column="id"               />
        <result property="userId"          column="user_id"          />
        <result property="productId"       column="product_id"       />
        <result property="amount"          column="amount"           />
        <result property="totalPrice"      column="total_price"      />
        <result property="status"          column="status"           />
        <result property="addTime"         column="add_time"         />
        <result property="lastUpdateTime"  column="last_update_time" />
    </resultMap>

    <insert id="insert" parameterType="map"
            useGeneratedKeys="true" keyProperty="order.id">
        insert into ${orderTableName} (
        <if test="order.userId != null and order.userId != ''">user_id,</if>
        <if test="order.productId != null and order.productId != ''">product_id,</if>
        <if test="order.amount != null and order.amount != ''">amount,</if>
        <if test="order.totalPrice != null and order.totalPrice != ''">total_price,</if>
        <if test="order.status != null and order.status != ''">status,</if>
        add_time
        ) values (
        <if test="order.userId != null and order.userId != ''">#{order.userId},</if>
        <if test="order.productId != null and order.productId != ''">#{order.productId},</if>
        <if test="order.amount != null and order.amount != ''">#{order.amount},</if>
        <if test="order.totalPrice != null and order.totalPrice != ''">#{order.totalPrice},</if>
        <if test="order.status != null and order.status != ''">#{order.status},</if>
        sysdate()
        )
    </insert>

    <update id="updateById" parameterType="map">
        update ${tableName}
        <set>
            <if test="order.userId != null and order.userId != ''">
                user_id = #{order.userId},
            </if>
            <if test="order.productId != null and order.productId != ''">
                product_id = #{order.productId},
            </if>
            <if test="order.amount != null and order.amount != ''">
                amount = #{order.amount},
            </if>
            <if test="order.totalPrice != null and order.totalPrice != ''">
                total_price = #{order.totalPrice},
            </if>
            <if test="order.status != null and order.status != ''">
                status = #{order.status},
            </if>
            last_update_time = sysdate()
        </set>
        where id = #{order.id}
    </update>

    <select id="selectOrderList"
            parameterType="map"
            resultMap="OrderResult">

        SELECT
        id,
        user_id,
        product_id,
        amount,
        total_price,
        status,
        add_time,
        last_update_time
        FROM ${orderTableName}
        <where>
            <if test="order.id != null">
                AND id = #{order.id}
            </if>
            <if test="order.userId != null">
                AND user_id = #{order.userId}
            </if>
            <if test="order.productId != null">
                AND product_id = #{order.productId}
            </if>
            <if test="order.amount != null">
                AND amount = #{order.amount}
            </if>
            <if test="order.totalPrice != null">
                AND total_price = #{order.totalPrice}
            </if>
            <if test="order.status != null and order.status != ''">
                AND status = #{order.status}
            </if>
            <!-- query time condtion
            <if test="order.queryStartTime != null and order.queryStartTime != ''">
                AND add_time &gt;= #{order.queryStartTime}
            </if>
            <if test="order.queryEndTime != null and order.queryEndTime != ''">
                AND add_time &lt;= #{order.queryEndTime}
            </if>
            -->
        </where>
        ORDER BY id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>



</mapper>
